name: Tor Bridge Auto Update

on:
  schedule:
    - cron: '0 */6 * * *' # هر 6 ساعت
  workflow_dispatch: # امکان اجرای دستی

permissions:
  contents: write # حل مشکل Error 403

jobs:
  test_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests

      - name: Run Script
        run: python bridge_tester.py

      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add *.txt
          git commit -m "Update bridges: $(date)" || echo "No changes to commit"
          git push
